<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyh.bookservice.mapper.BooksMapper">
    <select id="showAllBooks" parameterType="string"  resultType="com.pyh.bookservice.VO.BookVO">
        SELECT b.*,t.booktypename FROM book b,booktype t where 1=1
        and b.booktype = t.booktypeid
        and b.bookdelete = '0'
        <if test="booktype!= '' and booktype!= null">
            and b.booktype = #{booktype}
        </if>
    </select>

    <select id="showBooksByName" parameterType="string"  resultType="com.pyh.bookservice.VO.BookVO">
        SELECT b.*,t.booktypename FROM book b,booktype t where 1=1
        and b.booktype = t.booktypeid
        and b.bookdelete = '0'
        and bookname LIKE concat(concat('%',#{bookname}),'%')
    </select>

    <select id="showAllBooksByAdmin" parameterType="string"  resultType="com.pyh.bookservice.VO.BookVO">
        SELECT b.*,t.booktypename FROM book b,booktype t where 1=1
        and b.booktype = t.booktypeid
        <if test="booktype!= '' and booktype!= null">
            and b.booktype = #{booktype}
        </if>
    </select>

    <insert id="addBooksByAdmin" parameterType="com.pyh.bookservice.entity.Book">
        INSERT INTO book(bookid,bookname,bookno,bookauthor,booktype,booknum,bookstatus,bookpic,bookdelete) VALUES (#{bookid},#{bookname},#{bookno},#{bookauthor},#{booktype},#{booknum},#{bookstatus},#{bookpic},#{bookdelete})
    </insert>

    <delete id="removeBook" parameterType="string">
        DELETE FROM book WHERE bookid = #{bookid}
    </delete>

    <update id="deleteBooksByAdmin"  parameterType="string">
         update book SET bookdelete=#{bookdelete}
         where bookid=#{bookid}
    </update>

    <update id="borrowBook"  parameterType="string">
         update book SET bookstatus=#{bookstatus}
         where bookid=#{bookid}
    </update>

    <insert id="addPersonBook">
        INSERT INTO personbook(personbookid, bookid, personid, createdate) VALUES (#{personbookid},#{bookid},#{personid},#{createdate})
    </insert>

    <update id="giveBackBook">
         update personbook SET deaddate=#{deaddate}
         where 1=1
         and bookid=#{bookid}
         and personid=#{personid}
    </update>

    <select id="showBooksById" parameterType="string"  resultType="com.pyh.bookservice.VO.BookVO">
        SELECT b.* FROM book b where 1=1
        and b.bookid = #{bookid}
        and b.bookstatus = '1'
    </select>

    <select id="showMyBooks" parameterType="string"  resultType="com.pyh.bookservice.VO.PersonBookVO">
        select b.*,p.personid,t.booktypename,pb.createdate,pb.deaddate from book b,personbook pb,person p,booktype t
        where 1=1
          and b.bookid = pb.bookid
          and b.booktype = t.booktypeid
          and p.personid = pb.personid
          and p.personid = #{personid}
        <if test="bookstatus!= '' and bookstatus!= null">
            and b.bookstatus = #{bookstatus}
            and pb.deaddate is null
        </if>
    </select>

</mapper>